mixin menu(data, mod, act)
	+b.menu&attributes(attributes)(class="menu_"+mod)
		block
		if (mod === "header")
			if(data && data.length)
				each item, index in data
					+e('form').form(action="#")
						button.menu__link(class=item.class, title=item.title)
							span.menu__text #{item.title}
		else if (mod == "countries")
			if(data && data.length)
				each item, index in data
					+e('form').form(action="#")
						if (item.title == act)
							- var cl = 'menu__link_active'
						else
							- var cl = ''
						button.menu__link(class=cl, title=item.title)
							span.menu__text #{item.title}
		else
			if(data && data.length)
				each item, index in data
					a.menu__link(href=item.url, class=item.class, title=item.title)
						if (item.ico)
							+icon(item.ico, false).menu__ico
						span.menu__text #{item.title}
						span.menu__chevron
							+icon('chevron-thin-down', false)
					if (item.submenu && item.submenu.length)
						.menu__submenu
							each item_sub, index_sub in item.submenu
								if (item_sub.title == act)
									- var cl = 'menu__submenu-link_active'
								else
									- var cl = ''
								a.menu__submenu-link(href=item_sub.url, class=cl, title=item_sub.title)
									span.menu__submenu-text #{item_sub.title}