mixin users-list(data)
	+b.users-list&attributes(attributes)(action="#")
		block
		+e.top
			+e.title Пользователи
			+e('button').filter-button
				+icon('filter', false).complaint-list__filter-button-ico
		if(data && data.length)
			+e.table-wrap
				+e.table-inner
					+e('table').table
						+e('thead').thead
							+e('th').th_ava
							+e('th').th_id ID
							+e('th').th_user Имя
							+e('th').th_premium Премиум
							+e('th').th Статус
							+e('th').th Дата регистрации
							+e('th').th Последнее сообщение
						+e('tbody').tbody
							each item, index in data
								+e('tr').tr
									+e('th').td_ava
										+e('img').ava-img(src=item.ava)
									+e('th').td_id #{item.user_id}
									+e('th').td_user
										+e.user
											+e.user-name #{item.user}
									+e('td').td_premium #{item.premium}
									+e('td').td_status #{item.status}
									+e('td').td_date #{item.date}
									+e('td').td_last #{item.last_message}