mixin blog-list(data)
	+b.blog-list&attributes(attributes)(action="#")
		block
		+e.top
			+e.title Статьи блога
			+e('button').filter-button
				+icon('filter', false).blog__filter-button-ico
			+e('a').add(href="#")
				+e.add-ico.ico.ico_plus
					+icon('plus-circle', false)
				+e.add-text Добавить шаблон
		if(data && data.length)
			+e.table-wrap
				+e('table').table
					+e('thead').thead
						+e('th').th ID
						+e('th').th Название
						+e('th').th Категория
						+e('th').th Автор
						+e('th').th Дата
						+e('th').th
					+e('tbody').tbody
						each item, index in data
							+e('tr').tr
								+e('td').td_id #{item.id}
								+e('td').td_name
									+e.name #{item.name} 
								+e('td').td_category #{item.category}
								+e('td').td_author #{item.author}
								+e('td').td_date #{item.date}
								+e('td').td_actions
									+e('button').link_edit
										+icon('dots', false).blog-list__link-ico