mixin transactions(data)
	+b('form').transactions&attributes(attributes)(action="#")
		block
		+e.top
			+e.title Пакеты
			+e('button').filter-button
				+icon('filter', false).transactions__filter-button-ico
		if(data && data.length)
			+e.table-wrap
				+e('table').table
					+e('thead').thead
						+e('th').th ID
						+e('th').th Пользователь
						+e('th').th Тариф ID
						+e('th').th Сумма
						+e('th').th Статус
						+e('th').th Дата
						+e('th').th Действия
					+e('tbody').tbody
						each item, index in data
							if item.class
								- var cl = "transactions__tr_"+item.class
							+e('tr').tr(class=cl)
								+e('td').td_id #{item.id}
								+e('td').td_user
									+e.user
										+e.user-name #{item.user} 
										+e.user-id (#{item.user_id})
								+e('td').td_tariff #{item.tariff_id}
								+e('td').td_summ #{item.summ}р
								+e('td').td_status #{item.status}
								+e('td').td_date #{item.date}
								+e('td').td_actions
									+e('button').link_message
										+icon('message', false).transactions__link-ico
									+e('button').link_cancel
										+icon('cancel', false).transactions__link-ico
									+e('button').link_edit
										+icon('edit', false).transactions__link-ico
								- cl = ''